<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>Relay SMS workflow</title>
</head>
<body>
    <form action="/generate" method="post">
        <div class="container">
          <img src="assets/logo.png" alt="Relay Logo">
          <h3>URL generator</h3>

          <label for="email"><b>Device ID (IMEI)</b></label>
          <input type="text" placeholder="Enter Device ID" name="user_id" required id="id_input">
      
      
            <div class="clearfix">
      
            <button type="submit" class="btn">Generate</button>
          </div>
        </div>
    </form>
</body>
</html>