<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript">
        function copy() {
            let copyText = document.getElementById("url").innerText;
            var fullLink = document.createElement('input');
            document.body.appendChild(fullLink);
            fullLink.value = copyText;
            fullLink.select();
            document.execCommand("copy", false);
            fullLink.remove();
        }
    </script>
    <title>Relay SMS workflow</title>
</head>
<body>
    <div class="container">
        <img src="assets/logo.png" alt="Relay Logo">
        <h3>URL generator</h3>

        <label for="email" id="url"><b><%=url%></b></label>
        <h3></h3>
        <button type="submit" class="btn" onclick="copy()">Copy</button>
        <form action="/clear" method="post">
            <button type="submit" class="btn" name="foo" value="upvote">CLEAR NUMBER</button>
        </form>
        </div>
    </div>
</body>
</html>